In [1]:
import pandas as pd
import numpy as np
import os
import datetime

pwd = os.getcwd()

pop_data = pd.read_csv(pwd + "/state_pops.csv")

In [2]:
pop_data

     state  year   population
0       AL  2012    4817528.0
1       AL  2010    4785570.0
2       AL  2011    4801627.0
3       AL  2009    4757938.0
4       AL  2013    4833722.0
...    ...   ...          ...
1267   USA  2013  316128839.0
1268   USA  2009  306771529.0
1269   USA  2010  309326295.0
1270   USA  2011  311582564.0
1271   USA  2012  313873685.0

[1272 rows x 3 columns]

In [ ]:
# Currently Working